.mainboxnorthstar {
    width: min-content;
    height: fit-content;
    background-color: rgb(230, 224, 224);
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0 10px 20px 0 rgba(42, 42, 42, 0.4), 0 15px 25px 0 rgb(0 0 0 / 25%);
    position: relative;
    margin: auto;
    top: 50px;
}

.subboxnorthstar {
    width: 200px;
    height: 120px;
    background-color: rgba(168, 8, 8, 0.849);
    border-radius: 20px; 
    display: block;
    margin-bottom: 20px;
}

.subbox1northstar {
    width: 200px;
    height: 120px;
    background-color: rgba(168, 8, 8, 0.849);
    border-radius: 20px; 
    /* display: inline-block; */
    margin-bottom: 20px;
    display: block;
}

.subbox2northstar {
    width: 200px;
    height: 120px;
    background-color: rgba(168, 8, 8, 0.849);
    border-radius: 20px; 
    display: inline-block;
}

.contentdata {
    text-align: center;
    font-size: 60px;
    padding-top: 40px;
    padding-bottom: 10px;
    color: white;
    font-family: 'Bitter', serif;
}

.subcontentdata {
    text-align: center;
    font-family: 'Bitter', serif;
    color: white;
    font-size: 30px;
}

@media (min-width: 750px) {

    .mainboxnorthstar {
        width: min-content;
        height: fit-content;
        background-color: rgb(230, 224, 224);
        border-radius: 20px;
        padding: 20px;
        box-shadow: 0 10px 20px 0 rgba(42, 42, 42, 0.4), 0 15px 25px 0 rgb(0 0 0 / 25%);
        position: relative;
        margin: auto;
        top: 50px;
        display: flex;
    }

    .subboxnorthstar {
        margin-right: 20px;
        margin-bottom: 0px;
    }
    
    .subbox1northstar {
        margin-right: 20px;
        margin-bottom: 0px;
    }   
}