<div>
    <!-- 1st section -->
    <div style="padding-top: 10px;" class="alignment">
        <div><img src="/assets/Images/BG.jpeg" height="664px"></div>
        <div class="centered"><img  src="/assets/Images/NSLOGO.png" width="750px"></div>
    </div> 
    <!--Project Details-->
    <app-project-details></app-project-details> 
    <!--2nd section-->
    <app-about-north-star></app-about-north-star>
    <!--3rd section -->
    <app-noth-star-caption>
    </app-noth-star-caption>
    <!--4th section-->
    <app-brand-partners></app-brand-partners>
    <!-- <div class="alignment">
        <div>
            <img class="pic2" src="/assets/Images/BG_2.jpg">
        </div>
    </div> -->
</div>