<div>
    <!-- <img src="/assets/Images/NSLOGO.png"> -->
    <div>
        <img src="/assets/Images/BG.jpeg" width="1450px" height="664px">
        <div class="centered"><img src="/assets/Images/NSLOGO.png" width="750px"></div>
    </div>
<app-project-details></app-project-details>
<br>
<br>
<app-about-north-star></app-about-north-star>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<app-noth-star-caption></app-noth-star-caption>
<app-brand-partners></app-brand-partners>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
</div>
