<mat-toolbar class="mat-elevation-z8">
    <img src="/assets/Images/Ns_logo.png" alt="Italian Trulli" style="width: 150px; height: 125px;">

  <!-- <div class="spacer"></div> -->

  <div style="margin-left: 550px;">
    <a mat-button style ="color: black;" routerLink = "home">Home</a>
    <a mat-button style ="color: black;" routerLink = "about us">About us</a>
    <a mat-button style ="color: black;" routerLink = "projects">Projects</a>
    <a mat-button style ="color: black;" routerLink = "contactus">Contact Us</a>
  </div>
  <div style="margin-left: 200px;">
     
    <a href="#"><i class='fab fa-instagram'></i></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <a style="padding-right:15px;" href='#'>
        <i class="fab fa-facebook"></i>
        </a>
  </div>
</mat-toolbar>


  


