<mat-toolbar class="mat-elevation-z8">
    <img src="/assets/Images/Ns_logo.png" alt="Italian Trulli" style="width: 150px; height: 125px;">

  <div class="spacer"></div>

  <a mat-button style ="color: black;"routerLink = "home">Home</a>
  <a mat-button style ="color: black;"routerLink = "about us">About us</a>
  <a mat-button style ="color: black;"routerLink = "projects">Projects</a>
  <a mat-button style ="color: black;"routerLink = "contact us">Contact Us</a>
  <a style="padding-right:15px;" href='#'>
  <i class="fab fa-facebook"></i>
  </a>
  <a href="#"><i class='fab fa-instagram'></i></a>


</mat-toolbar>


  


