<mat-toolbar class="mat-elevation-z8">
    <img src="/assets/Images/Ns_logo.png" alt="Italian Trulli" style="width: 150px; height: 125px;">

  <div class="spacer"></div>

  <div>
    <a mat-button style ="color: black;" (click)="redirectToHome()">Home</a>
    <a mat-button style ="color: black;" href="#aboutUs">About us</a>
    <a mat-button style ="color: black;" href="#projects">Projects</a>
    <a mat-button style ="color: black;" href="#bottom">Contact Us</a>
  </div>
  <div>
    <a href="#"><i class='fab fa-instagram'></i></a>&nbsp;&nbsp;&nbsp;
      <a style="padding-right:15px;" href='#'>
        <i class="fab fa-facebook"></i>
        </a>
  </div>
</mat-toolbar>


  


