body{        
    padding-top: 0px;
    padding-bottom: 0px;
}
.container{
    width: 80%;
    margin: 0 auto; 
    margin-top: 20px;
}
.fixed-header {
    width: 100%;
    position: relative;        
    background:#333;
    padding: 10px 0;
    color: #fff;
}

.fixed-header{
    top: 0px;
}
.fixed-footer{
    bottom: 0;
}  /*unused*/

.spacer
{
    flex : 1 1 auto;
}
.mat-toolbar.mat-elevation-z8
{
    padding-top : 50px;
    padding-bottom: 50px;
    color : white;
}