.data {
    font-family: serif;
    font-size: 5vw;
    padding: 10px;
    position: relative;
    text-align: center;
    letter-spacing: 5px;
    color: rgb(175, 174, 174);
}

.arrange_items {
  text-align: center;
}

