.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.hidden {
  display: none;
}

.mat-toolbar
{
    padding-top : 50px;
    padding-bottom: 50px;
    background-color: #fff;
    color: black;
}

.example-spacer {
  flex: 1 1 auto;
}

