<div>
    <div class="card datacard" style="width: 24rem;">
        <div class="card-body">
          <span class="card-text">
            <h2>Synopsis</h2>
            <p>Pardhu(Naga Shourya) is a gifted 
              archer right from his childhood. Seeing his talent, 
              Pardhu’s grandfather Sachin Khedekar) sacrifices his earnings and 
              joins him in Hyderabad’s best archery academy. 
              Very soon, Pardhu becomes the state champion making his grandfather proud. The twist in the tale arises when Pradhu’s grandfather passes away suddenly. With this shock, Pardhu gets addicted to drugs. The rest 
              of the story is about how Pardhu fights back in life and wins the world championship.</p>
            <h2>Cast</h2>
            <p>Naga Shourya as played the lead role. Ketika Sharma as heroine. 
              Sachin Khedekar and Satya Akkala played supporting role.
            </p>
            <h2>Crew</h2>
            <p>Directed by Santhosh Jagarlapudi and Produced by Sharath Marar.</p>
          </span>
        </div>
      </div>
      <div style="height: 100px;width: 0px;">
        <h1 style="font-size:50px;position:relative;left:430px;bottom: 540px;padding-bottom: 20px;">Lakshya</h1>
        <iframe style="position:relative;left:440px;bottom: 520px;" width="600" height="345"src="https://www.youtube.com/embed/QzA32ZC3lhw" 
        title="YouTube video player" frameborder="0" 
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
        allowfullscreen></iframe>
      </div>
    </div>
    

