
<h1 id="projects" style="margin-left: 190px;font-family: Arial, Helvetica, sans-serif;font-size: 50px;margin-top: 40px;">Our Projects</h1>
<body>
    <div class="container">
        <div class = "box">
            <div class="imgBx">
                <img src="/assets/Images/movie_poster_1.png">
            </div>
            <div class="content">
                <div>
                    <h2>Ghost</h2>
                    <p>
                        The Ghost is an action thriller movie directed by Praveen Sattaru.
                        It casts Nagarjuna in the lead role and Music composed by Bharatt.
                        <a routerLink = "ghost">read more</a>
                    </p>
                </div>
            </div>
        </div>
        <div class = "box">
            <div class="imgBx">
                <img src="/assets/Images/movie_poster_2.png">
            </div>
            <div class="content">
                <div>
                    <h2>Gaalivaana</h2>
                    <p>
                        Soon after newlyweds Ajay and Geetha are brutally murdered,
                        an unknown injured man arrives at their families' doorstep.
                        <a routerLink = "gaalivaana">read more</a>
                    </p>
                </div>
            </div>
        </div>
        <div class = "box">
            <div class="imgBx">
                <img src="/assets/Images/movie_poster.png">
            </div>
            <div class="content">
                <div>
                    <h2>Lakshya</h2>
                    <p>
                        <br>
                        A gifted archer loses track of his life after a series of miserable events.Will he redeem to win?
                        <a routerLink = "lakshya">read more</a>
                    </p>
                </div>
            </div>
        </div>
        <div class = "box">
            <div class="imgBx">
                <img src="/assets/Images/movie_poster_3.png">
            </div>
            <div class="content">
                <div>
                    <h2>Gabbar Singh</h2>
                    <p>
                        The residents of Rathanpur are forced to face the wrath of Bhairav Singh
                        who unceremoniously usurps their land.
                    <a routerLink = "sardaar-gabbar-singh">read more</a>
                    </p>
                </div>
            </div>
        </div>  
    </div>   
</body>     
