<h1 style="margin-left: 310px;">Our Projects</h1>
<br>
<div class="alignment">
    <div class="mainboxnorthstar">
      <img src="/assets/Images/movie_poster_1.png" width="170px" height="500px">
      <div class="bottom-left">Ghost</div>
      <div class="bottom-left-info"><a href="">more info</a></div>
    </div>
    <div class="mainboxnorthstar">
      <img src="/assets/Images/movie_poster_3.png" width="170px" height="500px">
      <div class="bottom-left">Sardaar Gabbar Singh</div>
      <div class="bottom-left-info"><a href="">more info</a></div>
    </div>
    <div class="mainboxnorthstar">
      <img src="/assets/Images/movie_poster.png" width="170px" height="500px">
      <div class="bottom-left">Lakshya</div>
      <div class="bottom-left-info"><a href="">more info</a></div>
    </div>
    <div class="mainboxnorthstar">
      <img src="/assets/Images/movie_poster_2.png" width="170px" height="500px">
      <div class="bottom-left">Gaalivaana</div>
      <div class="bottom-left-info"><a routerLink = "gaalivaana">more info</a></div>
    </div>  
  </div>