<div>
    <div class="card datacard" style="width: 24rem;">
        <div class="card-body">
          <span class="card-text">
            <h2>Synopsis</h2>
            <p>The residents of Rathanpur are forced to 
              face the wrath of Bhairav Singh who unceremoniously usurps their land. 
              They find respite when Gabbar Singh, 
              a brave policeman, takes on their oppressor.</p>
            <h2>Cast</h2>
            <p>Pawan Kalyan and Kajal play the
                lead roles in this movie.</p>
            <h2>Crew</h2>
            <p>Directed by K.S Ravindra.</p>
          </span>
        </div>
      </div>
      <div style="height: 100px;">
        <h1 style="font-size:50px;position:relative;left:430px;bottom: 400px;padding-bottom: 20px;">Sardaar Gabbar Singh</h1>
        <iframe style="position:relative;left:440px;bottom: 400px;" 
        width="600" height="345" src="https://www.youtube.com/embed/uJYMvQpCXDc" 
        title="YouTube video player" 
        frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
        allowfullscreen></iframe>
      </div>
    </div>
    
