<div class="alignment-caption">
  <div class="alignment-box">
    <p class="data">We Don’t Just</p>
    <p class="data">Make Movies..</p>
    <p class="data1">WE TELL STORIES!</p>
  </div>

  <div class="alignment-box2">
    <div class="card datacard" style="width: 18rem;">
      <div class="card-body">
        <p class="card-text">
          Cras eu elit congue, placerat dui ut, tincidunt nisl. Nulla leo elit, pharetra bibendum justo quis, cursus consectetur erat. Sed nec posuere turpis. Maecenas nec bibendum purus. Nulla fringilla, lorem iaculis iaculis fermentum, ligula nibh mollis ipsum, et scelerisque risus ante eu sem. Phasellus ac sagittis nisi. Suspendisse potenti. Nunc volutpat dui ipsum. Suspendisse
        </p>
      </div>
    </div>
  </div>
    
</div>
<img src="/assets/Images/NS_half_logo.png"  height="600px"  style="margin: auto; opacity: 0.7;">