.container
{
  /* width: max-content; */
  /* background-color: whitesmoke; */
  margin: auto;
  /* padding: 150px; */
  text-align: center;
}

.Footer{   
    width: auto;
    background: rgb(248, 248, 248);
    color: rgb(14, 3, 3);
    bottom: 0%; 
    padding: 50px 0;
    position: relative;
} 

ul
{
    list-style: none;
}

.footer-col
{
    /* width: 33%; */
    padding: 0 25px;
}

.footer-col h2
{
    font-size: 18px;
    color: black;
    text-transform: capitalize;
    margin-bottom: 30px;
    font-weight: 500;
}

.row
{
    display: inline-block;
    flex-wrap: wrap;
    text-align: center;
}

@media (min-width: 770px) {
    .row
    {
        display: flex;
        flex-wrap: wrap;
    }

    .footer-col
   {
    width: 33%;
    padding: 0 25px;
   }  
    
}

