<footer class="Footer" id="contactus">
    <div class="container">

    
      <div class="row">

      <div class="footer-col">
           <img src="/assets/Images/Ns_logo.png" alt="Italian Trulli" style="width: 200px; height: 175px; margin-left: 30px;">
    </div>
        <div class="footer-col">
            <h2>Corporate Adress</h2>
            <p>2nd Floor, Eshika Building</p>
            <p>Plot No: 26-27,Old Mumbai Highway</p>
            <p>Prashanth Hills,Gachibowli</p>
            <p>Hyderabad, Telangana, 500096</p>
          </div>

          <div class="footer-col">
            <h2>Contact Us</h2>
            <p>Email : askdggwidb</p>
            <p>Phone:  88641266e21641 </p>
            <p>+91 1286683616</p>
          </div>
      </div>
      </div>

    </footer>

 
    
  
